@charset "utf-8";

@font-face {
    font-family: NotosansJP;
    src: url(NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: NotosansCN;
    src: url(NotoSansSC-VariableFont_wght.ttf);
}

@font-face {
    font-family: NotosansRU;
    src: url(NotoSans-Medium.ttf);
}


html{
    overflow-x: hidden;
}

.nav-wrapper{
    padding: 1%;
}

nav{
    background-color: #141414;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

nav,footer a,a:visited,a:active,a:-webkit-any-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    padding-left: 5px;
    padding-right: 5px;
}

.footer-wrapper{
    padding: 1%;
}

footer{
    background-color: #141414;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}



main{
    margin: 5%;
}
main a:-webkit-any-link{
    color: #141414;
}

h1{
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    font-size: 42px;
}

p{
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
}

#jpn{
    font-family: NotosansJP;
}

#cny{
    font-family: NotosansCN;
}

#ru{
    font-family: NotosansRU;
}