@charset "utf-8";
@font-face {
	font-family: NotosansJP;
	src: url(NotoSansJP-VariableFont_wght.ttf);
}
@font-face {
	font-family: TitilliumWeb;
	src: url(TitilliumWeb-Regular.ttf);
}
/*
.custuom-Scroll::-webkit-scrollbar-button{
    display: none;
}
::webkit-scrollbar {
    width: 12px;
    height: 12px; 
    background-color: #141414;
}
::webkit-scrollbar-thumb {
    background-color: #888;  
    border-radius: 6px;     
    border: 2px solid #141414;
}
::webkit-scrollbar-thumb:hover {
    background-color: #555;
}
::webkit-scrollbar-button {
    display: none;
}
*/


body,
html {
	overflow-x: hidden;
	margin: 0;
	height: 100%;
}



#contact-bar{
	width: 100%;
}
#contact-bar img{
	padding: 20px 3vw 20px 3vw;
	width: 4%;
	/*filter: invert();*/
}




a,
a:visited,
a:active,
a:-webkit-any-link {
	color: inherit;
	text-decoration: underline;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

main {
	width: 80vw;
	margin: 10vw;
	z-index: -1;
}
main div {
	color: #fff;
	margin-top: 15vh;
	padding: 2%;
	border-radius: 20px;
	background-color: rgba(51, 51, 51, 1);
}

main h1,
ul {
	font-family: NotosansJP;
}
li {
	list-style-type: square;
}
p {
	font-family: TitilliumWeb;
	font-size: 22px;
}

#jpn {
	font-family: NotosansJP;
}

:root {
	--anim-length: 1s;
	--anim-total: 1s;
}

#intro-container {
	height: 50vh;
	width: 100%;
}

#over-top-intro {
	font-family: NotosansJP;
	font-size: 22px;
	margin-top: 40vh;
}

@keyframes Intro-Anim {
	0% {
		opacity: 0;
	}
	30%,
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes Intro-Anim-Stay {
	0% {
		opacity: 0;
	}
	30%,
	70% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes Hide {
	0% {
		opacity: 0;
	}
	30%,
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#over-top-intro > div:last-child {
	animation: Intro-Anim-Stay var(--anim-length);
	animation-fill-mode: both;
	animation-delay: 1s;
}

.firstText {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 1s);
	animation-fill-mode: both;
	font-family: TitilliumWeb;
	opacity: 0;
	text-align: center;
}
.secondaryText {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 1s);
	animation-fill-mode: both;
	font-size: 60px;
	font-family: TitilliumWeb;
	opacity: 0;
	text-align: center;
}

.tertiaryText > h1 {
	font-family: TitilliumWeb;
	font-size: 60px;
	display: inline;

	margin: 0;
}
.tertiaryText {
	text-align: center;
}

.tertiaryText h1:nth-child(1) {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 2s);
	animation-fill-mode: both;
	opacity: 0;
}
.tertiaryText h1:nth-child(2) {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 3s);
	animation-fill-mode: both;
	opacity: 0;
}
.tertiaryText h1:nth-child(3) {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 4s);
	animation-fill-mode: both;
	opacity: 0;
}

#chevron {
    margin-left: 48.5vw;
    margin-right: 48.5vw;
    width: 3vw;
	opacity: 1;
	align-items: center;
	animation: Intro-Anim-Stay 1s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
}
#chevron img {
	width: 100%;
}

footer {
	font-family: NotosansJP;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
}
