@charset "utf-8";

@font-face {
	font-family: NotosansJP;
	src: url(NotoSansJP-VariableFont_wght.ttf);
}
@font-face {
    font-family: TitilliumWeb;
    src: url(TitilliumWeb-Regular.ttf);
}


html {
	overflow-x: hidden;
}

.nav-wrapper {
	padding: 1%;
}

nav {
	background-color: #141414;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

nav,
footer a,
a:visited,
a:active,
a:-webkit-any-link {
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}

.footer-wrapper {
	padding: 1%;
}

footer {
	background-color: #141414;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

main {
	margin: 5%;
}
main a:-webkit-any-link {
	color: #141414;
}

p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}

#jpn {
	font-family: NotosansJP;
}

:root{
   
}

#over-top-intro {
	font-family: NotosansJP;
	font-size: 22px;
}
#over-top-intro > div{
    position: absolute;
    left: 50%;
	bottom: 50%;
	transform: translate(-50%, 50%);
    width: max-content;
    text-align: center;
    opacity: 0;
}

@keyframes Intro-Anim {
    0%{
        opacity: 0;
    }
    30%,70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes Intro-Anim-Stay {
    0%{
        opacity: 0;
    }
    30%,70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
/*
#over-top-intro div:nth-child(1){
    animation: Intro-Anim 1s;
    animation-delay: 1s;
}
#over-top-intro div:nth-child(2){
    animation: Intro-Anim 1s;
    animation-delay: 2s;
}
#over-top-intro div:nth-child(3){
    animation: Intro-Anim 1s;
    animation-delay: 3s;
}
#over-top-intro div:nth-child(4){
    animation: Intro-Anim 1s;
    animation-delay: 4s;
}
#over-top-intro div:nth-child(5){
    animation: Intro-Anim 1s;
    animation-delay: 5s;
}
#over-top-intro div:nth-child(6){
    animation: Intro-Anim 1s;
    animation-delay: 6s;
}
#over-top-intro div:nth-child(7){
    animation: Intro-Anim 1s;
    animation-delay: 7s;
}
#over-top-intro div:nth-child(8){
    animation: Intro-Anim 1s;
    animation-delay: 8s;
}
#over-top-intro div:nth-child(9){
    animation: Intro-Anim 1s;
    animation-delay: 9s;
}
#over-top-intro div:nth-child(10){
    animation: Intro-Anim-Stay 1s;
    animation-fill-mode: both;
    animation-delay: 10s;
}
*/

/* FOR TESTING REMOVE*/
#over-top-intro > div:nth-child(1){
    animation: Intro-Anim 100ms;
    animation-delay: 0s;
}
#over-top-intro > div:nth-child(2){
    animation: Intro-Anim 100ms;
    animation-delay: 0s;
}
#over-top-intro > div:nth-child(3){
    animation: Intro-Anim 100ms;
    animation-delay: 0s;
}
#over-top-intro > div:nth-child(4){
    animation: Intro-Anim 100ms;
    animation-delay: 0s;
}
#over-top-intro > div:nth-child(5){
    animation: Intro-Anim 100ms;
    animation-delay:0s;
}
#over-top-intro > div:nth-child(6){
    animation: Intro-Anim 100ms;
    animation-delay: 0s;
}
#over-top-intro > div:nth-child(7){
    animation: Intro-Anim 100ms;
    animation-delay: 0s;
}
#over-top-intro > div:nth-child(8){
    animation: Intro-Anim 100ms;
    animation-delay: 0s;
}
#over-top-intro > div:nth-child(9){
    animation: Intro-Anim 100ms;
    animation-delay: 0s;
}
#over-top-intro > div:nth-child(10){
    animation: Intro-Anim-Stay 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.secondaryText{
    animation: Intro-Anim-Stay 5s;
    animation-delay: 2s;
    animation-fill-mode: both;

    font-family: TitilliumWeb;
    opacity: 0;
    position: relative;

    text-align: center;
}

.tertiaryText{
    font-family: TitilliumWeb;
    display: flex;
    font-size: 30px;
    position: relative;
    text-align: center;
}

.tertiaryText h1:nth-child(1){
    animation: Intro-Anim-Stay 5s;
    animation-delay: 3s;
    animation-fill-mode: both;
    opacity: 0;
}
.tertiaryText h1:nth-child(2){
    animation: Intro-Anim-Stay 5s;
    animation-delay: 4s;
    animation-fill-mode: both;
    opacity: 0;
}