@charset "utf-8";
@font-face {
	font-family: Notosans;
	src: url(https://firebasestorage.googleapis.com/v0/b/resume-site-61e28.appspot.com/o/NotoSans-Regular.ttf?alt=media&token=4b169f7d-3527-4d1f-94a1-227235a3d605&_gl=1*1jf2tlp*_ga*ODc2NDM0OTc5LjE2OTgyNzI5MjY.*_ga_CW55HF8NVT*MTY5OTEzMTE0My4xMS4xLjE2OTkxMzI1OTMuNDcuMC4w);
}
@font-face {
	font-family: TitilliumWeb;
	src: url(https://firebasestorage.googleapis.com/v0/b/resume-site-61e28.appspot.com/o/TitilliumWeb-Regular.ttf?alt=media&token=62fc45ff-38b9-41f7-822e-a2c1667ab0d3&_gl=1*183mn8b*_ga*MTMxMTM5OTEyMi4xNjk3NTY5MjE1*_ga_CW55HF8NVT*MTY5OTEzMTE0My4xMS4xLjE2OTkxMzEyMDMuNjAuMC4w);
}

body,
html {
	overflow-x: hidden;
	margin: 0;
	height: 100%;
}

#contact-bar {
	width: 100%;
}
#contact-bar img {
	padding: 20px 3vw 20px 3vw;
	width: 4%;
	/*filter: invert();*/
}

a,
a:visited,
a:active,
a:-webkit-any-link {
	color: inherit;
	text-decoration: underline;
}

main {
	width: 70vw;
	margin: 15vw;
}
main div {
	color: black;
	padding: 2%;
	border-radius: 20px;
}

h1 {
	font-family: Notosans;
}

li {
	list-style-type: square;
	font-family: TitilliumWeb;
}
p {
	font-family: TitilliumWeb;
	font-size: 20px;
}

#jpn {
	font-family: Notosans;
}

:root {
	--anim-length: 1s;
	--anim-total: 1s;
}

#intro-container {
	height: 50vh;
	width: 100%;
}

#over-top-intro {
	font-family: Notosans;
	font-size: 22px;
	margin-top: 40vh;
}

@keyframes Intro-Anim {
	0% {
		opacity: 0;
	}
	30%,
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes Intro-Anim-Stay {
	0% {
		opacity: 0;
	}
	30%,
	70% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes Hide {
	0% {
		opacity: 0;
	}
	30%,
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#over-top-intro > div:last-child {
	animation: Intro-Anim-Stay var(--anim-length);
	animation-fill-mode: both;
	animation-delay: 1s;
}

.firstText {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 0.5s);
	animation-fill-mode: both;
	font-family: TitilliumWeb;
	opacity: 0;
	text-align: center;
}
.secondaryText {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 1s);
	animation-fill-mode: both;
	font-size: 60px;
	font-family: TitilliumWeb;
	opacity: 0;
	text-align: center;
}

.tertiaryText > h1 {
	font-family: TitilliumWeb;
	font-size: 60px;
	display: inline;

	margin: 0;
}
.tertiaryText {
	text-align: center;
}

.tertiaryText h1:nth-child(1) {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 1.5s);
	animation-fill-mode: both;
	opacity: 0;
}
.tertiaryText h1:nth-child(2) {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 2s);
	animation-fill-mode: both;
	opacity: 0;
}
.tertiaryText h1:nth-child(3) {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 2.5s);
	animation-fill-mode: both;
	opacity: 0;
}
.tertiaryText h1:nth-child(4) {
	animation: Intro-Anim-Stay 5s;
	animation-delay: calc(var(--anim-total) + 3s);
	animation-fill-mode: both;
	opacity: 0;
}



#chevron {
	margin-left: 48.5vw;
	margin-right: 48.5vw;
	width: 3vw;
	opacity: 1;
	align-items: center;
	animation: Intro-Anim-Stay 1s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
}
#chevron img {
	width: 100%;
}

footer {
	font-family: Notosans;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
}


#top-lines{
	background-color: #141414;
	position: relative;
	width: 300%;
	height: 75px;
	rotate: -45deg;
	transform: translate(-50%,-4000%);

}