@charset "utf-8";

@font-face {
	font-family: NotosansJP;
	src: url(NotoSansJP-VariableFont_wght.ttf);
}
@font-face {
    font-family: TitilliumWeb;
    src: url(TitilliumWeb-Regular.ttf);
}

.custuom-Scroll::-webkit-scrollbar-button{
    display: none;
}
/* This will change the background of the entire scrollbar track */
::webkit-scrollbar {
    width: 12px;  /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
    background-color: #141414; /* Color of the scrollbar track */
}
/* This will style the thumb of the scrollbar */
::webkit-scrollbar-thumb {
    background-color: #888;  /* Color of the scrollbar thumb */
    border-radius: 6px;      /* Rounded corners of the thumb */
    border: 2px solid #141414; /* Border around the thumb, make sure to subtract this value from the width and height */
}

/* Change the thumb color when hovering over it */
::webkit-scrollbar-thumb:hover {
    background-color: #555;
}
::webkit-scrollbar-button {
    display: none;
}



html {
	overflow-x: hidden;
}

#left-bar{
    position: fixed; 
    top: 0;
    left: 0;
    width: 5vh; 
    height: 100vh;
    background: linear-gradient(180deg, rgba(51,51,51,1) 63%, rgba(24,24,24,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
}
#left-bar img{
    width: 100%;
    padding-bottom: 20px;
}



a,
a:visited,
a:active,
a:-webkit-any-link {
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}




main {
    width: 100%;
    background-color: #545454;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    
}
main div{
    margin: 5%;
}


main a:-webkit-any-link {
	color: #141414;
}

p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}

#jpn {
	font-family: NotosansJP;
}

:root{
   --anim-length: 1s;
   --anim-total: 7s;
}

#intro-container{
    height: 110%;
}

#over-top-intro {
	font-family: NotosansJP;
	font-size: 22px;
    align-items: center;
    height: max-content;
}
#over-top-intro > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    width: max-content;

}

@keyframes Intro-Anim {
    0%{
        opacity: 0;
    }
    30%,70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes Intro-Anim-Stay {
    0%{
        opacity: 0;
    }
    30%,70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

#over-top-intro div:nth-child(1){
    animation: Intro-Anim var(--anim-length);
    animation-delay: 1s;
}
#over-top-intro div:nth-child(2){
    animation: Intro-Anim var(--anim-length);
    animation-delay: 2s;
}
#over-top-intro div:nth-child(3){
    animation: Intro-Anim var(--anim-length);
    animation-delay: 3s;
}
#over-top-intro div:nth-child(4){
    animation: Intro-Anim var(--anim-length);
    animation-delay: 4s;
}
#over-top-intro div:nth-child(5){
    animation: Intro-Anim var(--anim-length);
    animation-delay: 5s;
}
#over-top-intro div:nth-child(6){
    animation: Intro-Anim var(--anim-length);
    animation-delay: 6s;
}
#over-top-intro > div:last-child {
    animation: Intro-Anim-Stay var(--anim-length);
    animation-fill-mode: both;
    animation-delay: 7s;
}

#intro-bottom-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.secondaryText{
    animation: Intro-Anim-Stay 5s;
    animation-delay: calc(var(--anim-total) + 1s);
    animation-fill-mode: both;
    font-size: 60px;
    font-family: TitilliumWeb;
    opacity: 0;
    position: relative;
    text-align: center;
}

.tertiaryText{
    font-family: TitilliumWeb;
    display: flex;
    font-size: 30px;
    position: relative;
    text-align: center;
    transform: translateY(-25%);
}

.tertiaryText h1:nth-child(1){
    animation: Intro-Anim-Stay 5s;
    animation-delay: calc(var(--anim-total) + 2s);
    animation-fill-mode: both;
    opacity: 0;
}
.tertiaryText h1:nth-child(2){
    animation: Intro-Anim-Stay 5s;
    animation-delay: calc(var(--anim-total) + 3s);
    animation-fill-mode: both;
    opacity: 0;
}
